<% include partials/header %>
 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To Rate-your-movies!</h1>
             <p>Rate the movies you watched and share your comments with movie lovers around the world.</p>
             <p>
                <a class="btn btn-primary btn-large" href="/movies/new">Add New Moives</a>
             </p>
         </div>
     </header>

     <div class="row text-center">
        <% movies.forEach(function(element){ %>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card">
                   <img class="card-img-top" src="<%= element.poster %>" alt="<%= element.title %>">
                   <div class="card-body">
                       <h4 class="card-title"><%= element.title %></h4>
                       <p class="card-text"><%= element.genre %></p>
                       <p class="card-text">$<%= element.price %></p>
                   </div>
                   <p>
                       <a href="/movies/<%= element._id %>" class="btn btn-primary">More info</a>
                       <a href="/" class = "btn btn-success">Add the cart</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>
