<% include partials/header %>

<div class="container bg-light rounded m-x-2 m-y-2 cartinfo ">
    <br>
    <h3>Shopping Cart</h3>
    <hr>

    <div class="row">
        <div class='col-10'><h5>Movie</h5></div>
        <div class='col'><h5>Price</h5></div>
    </div>
    <hr>
    <div class="container">
     <% user.carts.forEach(function(element){ %>
     <div class="row">
            <div class="col-3"><img src='<%= element.poster %>' width="20%" height= auto></div>
            <div class="col-2">
                <form action="/movies/<%= element._id %>/delete" method="post">
                    <input class="btn btn-outline-danger" type="submit" value="Delete">
                </form>
            </div>
            <div class="col-5"><h5><%= element.title %></h5></div>
            <div class="col"><h6><%= element.price %></h6></div>
     </div>
     <hr>
     <% }) %>

     </div>

     <div class="row">
         <div class="col-10"><h4>Total:</h4></div>
         <div class="col"><h4><%= total %></h4></div>
     </div>


     <br>
     <div class="row justify-content-end">
        <div class="col"><a href="/movies" class="btn btn-outline-primary">Continue shopping</a></div>
        <div class="col">
            <a href="#" class="btn btn-primary">Checkout</a>
        </div>
    </div>
     <br>





</div>

<br>
<br>

<% include partials/footer %>