 <% include partials/header %>


    <div class="container m-x-1 m-y-1">
        <div class="row justify-content-left">
            <div class="col">
                <img src="<%= movie.poster %>">
                <br/>
                <br/>
                <div class="container m-y-2 justify-content-center">
                    <form action="/movies/<%= movie._id %>/add" method="post">
                        <input class="btn btn-outline-success" type="submit" value="Add to cart">
                    </form>
                </div>

            </div>
            <div class="col">
                <h1>Movie Title: <%= movie.title %></h1>
                <p>Year: <%= movie.year %></p>
                <p>Genre: <%= movie.genre %></p>
                <p>Runtime: <%= movie.runtime %></p>
                <p>Director: <%= movie.director %></p>
                <p>Actors: <%= movie.actors %></p>
                <p>Plot: <%= movie.plot %></p>
                <p>ImdbRating: <%= movie.imdbrating %></p>
                <p>Awards: <%= movie.awards %></p>
            </div>
        </div>
        <div class="row justify-content-center m-y-2">
        <div>
        <% movie.comments.forEach(function(element){ %>
            <strong><%= element.text %></strong>
            <i>- by <%= element.author %></i>

        </div>
        <% }) %>
         <p>
            <a class="btn btn-success" href="/movies/<%= movie._id %>/comments/new">Add a New Comment</a>
        </p>
    </div>
    </div>

<% include partials/footer %>